      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      ul,
      li {
        list-style: none;
      }
      .wrapper {
        width: 400px;
        margin: 50px auto;
        border: 1px solid darkred;
        position: relative;
      }
      .wrapper input {
        width: 100%;
        height: 40px;
        padding: 7px;
      }
      .wrapper ul {
        overflow: auto;
        background-color: green;
        max-height: 200px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }
      .wrapper ul li {
        padding: 8px;
        background-color: #f5f5f5;
        border-bottom: 1px solid black;
        font-family: sans-serif;
        cursor: pointer;
      }
      .wrapper ul li:hover {
        background-color: #333;
        color: white;
      }
      .box {
        width: 100%;
        height: 300px;
        background-color: green;
      }